<meta name="x-site-version" content="{{ .GitInfo.Hash }}">
<meta name="x-site-version-lastmod" content="{{ .GitInfo.Lastmod }}">
<link href="https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Asap:ital,wght@0,400;0,600;1,400;1,600&display=auto" rel="stylesheet">
<link rel="icon" type="image/svg" size="any" href="{{ .Site.Params.assets.faviconSvg | default "favicon.svg" | absURL }}">
<link rel="icon" type="image/png" size="512x512" href="{{ .Site.Params.assets.favicon512 | default "favicon-512.png" | absURL }}">
<link rel="icon" type="image/png" size="192x192" href="{{ .Site.Params.assets.favicon192 | default "favicon-192.png" | absURL }}">
