<ul class="custom-license-icon-list">
    <li class="custom-license-icon">
        <figure class="custom-license-figure">
            <img loading="lazy" class="custom-license-icon-img" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="Creative Commons Icon" height="64" width="64">
            <figcaption class="custom-license-figcaption">
                Creative Commons
            </figcaption>
        </figure>
    </li>
    <li class="custom-license-icon">
        <figure class="custom-license-figure">
            <img loading="lazy" class="custom-license-icon-img" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="Creative Commons Attribution Icon" height="64" width="64">
            <figcaption class="custom-license-figcaption">
                Attribution
            </figcaption>
        </figure>
    </li>
    <li class="custom-license-icon">
        <figure class="custom-license-figure">
            <img loading="lazy" class="custom-license-icon-img" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="Creative Commons Non-commercial" height="64" width="64">
            <figcaption class="custom-license-figcaption">
                Non-commercial
            </figcaption>
        </figure>
    </li>
</ul>
